{% macro home_content() %}
<div class="container" id="home_body">
    <div class="row" id="home_wrapper">
        <div class="col-md-7" id="intro_col">
            <div class="intro_section">
            <img src="{{ url_for('static', filename='images/home1.png') }}" class = "img-fluid" alt="home1">
            <h1 id="title" >Remove Image<br>Background</h1>
        </div>
            
        </div>
        <div class="col-md-5">
            <div id="upload_area">
                <input type="file" name="temp_image" id =  "file_upload" hidden>
                <div id="upload_btn_wrapper">
                <button type="button" class="btn big_btn" id="upload_btn">Upload Image</button>
            </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}