{% macro navbar_mac() %}

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename = 'images/logo.png') }}" class = "img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Remove Background</a>
            <a class="nav-link" href="#">Tools & API</a>
            <a class="nav-link" href="#">Pricing</a>
            </div>
            <div class="log_sign">
                <a class=" btn btn-primary btn-custom " href="#">Log In</a>
            <a class="btn btn-primary  " href="#">Sign Up</a>
            </div>
        </div>
        </div>
    </nav>

{% endmacro %}