.log_sign a{
    margin-right: 20px;

}
.nav-link{
    font-weight: 300;
    color: #6f6b6b !important;
}
.btn{
    background-color: #EDF0F2 ;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    color: #6f6b6b !important;
}
.btn-custom{
    background-color: transparent;
    font-weight: 300;
    color: #6f6b6b !important;
}
.btn-custom:hover{
    color: white !important;
}
.btn:hover{
    color: white !important;
}
#navbarNavAltMarkup{
    justify-content: space-between;

}

nav{

    background-color: white !important;
    height: 80px;

    font-size: 1.2rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(176,166,176,0.4);
-moz-box-shadow: 0px 4px 5px 0px rgba(176,166,176,0.4);
box-shadow: 0px 4px 5px 0px rgba(176,166,176,0.4);
}

.navbar-toggler-icon{
    background-color: black;
}